apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  ## aplicações de infraestrutura
  # - "infra/kyverno/kyverno-application.yaml"
  ## aplicações de negócio
  - "apps/podinfo/podinfo-application.yaml"
  - "apps/emojivoto/emojivoto-application.yaml"
